*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 250, 252);
}

a:hover {
    text-decoration: none;
}

.hire{
    background-color: rgba(46, 88, 227, 0.819);
    height: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
    
    color: white;
}
.hire a{
    color: white;
}


/* start of nav bar */



.nav{
    display: flex;
    margin-bottom: 10px;
}


.other{
        flex-basis: 55%;
        display: flex;
        margin-left: 20px;
}

.end{
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 1px;
}
.end a{
    text-decoration: none;
}

.bee{
    border-bottom: 3px solid rgb(190, 117, 117);

}



.links{
    margin-top: 40px;
    word-spacing: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.links a {
    text-decoration: none;
}

.links a:hover {
    border-top: 2px solid red;
    padding-top: 5px;
}



.pro{
    background-color: rgba(46, 88, 227, 0.819);
    margin-left: -5px ;
    margin-right: 10px;
    font-size: 10px;
    padding: 0 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    justify-content: center;
    border-radius: 5px;
}



.git{
    word-spacing: 5px;
    background-color: black;
    padding: 15px 20px 15px 20px;
    border-radius: 40px;
}


.git a{
    color: white;

}
.git a:hover {
    border-top: 0px;
}
/* end of nav bar */



/* start of header */

header {
    display: flex;
    border-top: 1px solid rgb(193, 193, 193);
    border-bottom: 1px solid rgb(193, 193, 193);
}

.head {
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-right: 1px solid rgb(193, 193, 193);
    border-left: 1px solid rgb(193, 193, 193);
    border-top: 0px solid rgb(193, 193, 193);
    border-bottom: 0px solid rgb(193, 193, 193);
    padding: 15px 20px 15px 20px;
    margin-left: 15px;
    
}


/* end of header */


/*maincontent*/



/* start of spans */

.codes{
    display: flex;
    font-size: 14px;
    margin-top: 60px;
}

.may{
    flex-basis: 81%;
}

.js{
    color: palevioletred;
    margin-left: 10px;
}

.ht{
    color: rgba(7, 161, 161, 0.45);
    margin-left: 10px;
}

.new{
    font-size: 25px;
}


.free{
    color: rgb(120, 120, 235);
    border: 1px solid rgb(120, 120, 235) ;
    background-color: rgb(232, 232, 253);
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
}

.cs{
    color: rgb(120, 120, 235);
    margin-left: 10px;
}

.junior{
    border: 2px solid greenyellow;
    padding: 0.5px 0.5px 0.5px 0.5px;
    margin-right: 5px;
    display: flex;
    width: 100px;
    border-radius: 5px;
}

.june{
    color: greenyellow;
    text-align: center;
    
}

.oh{
    color: white;
    background-color: greenyellow;
    padding: 2px 2px 2px 2px;
    margin-right: 10px;
    margin-left: 0px;
    
}


/* end of spans */




/* start of first main */

.firstbox{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 500px;
    margin-bottom: 40px;
}

.pamper{
    flex-basis: 45%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.pamper button{
    padding: 10px 30px 10px 30px ;
    background-color: red;
    color: whitesmoke;
    border-radius: 30px;
    margin-top: 20px;
}
.fone{
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 0px;

}

.fone img{
    width: 550px;
    margin-bottom: 10px;
}

.fone button{
    padding: 5px 10px 5px 10px;
}

.hav button{
    background-color: azure;
    color: gray;
    margin-left: 10px;
    border-radius: 30px;
}
.hov button{
    background-color: rgba(46, 88, 227, 0.819);
    color: whitesmoke;
    border-radius: 30px;
}


.match {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: rgb(80, 80, 80);

}

.mine{
    flex-basis: 100%;
}

.boo {
    background-color: rgb(255, 255, 255);
    padding: 0 50px;
    margin-right:20px;
    border-radius: 15px;
    padding-top: 20px;
}

.boo ul{
    padding-left: 20px;
}




.mee{
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.idea{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.idea ol{
    padding-left: 20px;
}

.paris{
    font-size: 25px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.bol{
    letter-spacing: 1px;
    background-color: rgb(237, 237, 237) ;
    padding: 0px 5px 0px 5px;
    font-family: 'Courier New', Courier, monospace;
}

.split{
    display: flex;
}


.mee ul{
    list-style: none;
}

a{
    color: black;
}

.this{
    color: rgb(100, 100, 100);
    font-size: 16px;
    line-height: 25px;
}


/* end of first main */




/* end of main content */





/* beginning of details */

details {
    font-size: 17px;
}


details a:active{
    border: 2px solid aquamarine;
    border-style: dotted;
    padding: 5px 0px 5px 0px
}

.san li{
    list-style: none;
}

.faq{
    font-size: 15px;
    font-family: monospace;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}


.first {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255,255);
    width: 35%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.second {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255,255);
    width: 35%;
    margin-bottom: 10px;
}

.third {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255,255);
    width: 35%;
    margin-bottom: 10px;


}

.fourth {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255,255);
    width: 35%;
    margin-bottom: 10px;
}

.fifth {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255,255);
    width: 35%;
    margin-bottom: 10px;
}

.sixth {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255,255);
    width: 35%;
    margin-bottom: 10px;
}

.seventh {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255,255);
    font-size: 20px;
    width: 35%;
    margin-bottom: 10px;
    line-height: 30px;
}

.eight {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255,255,255);
    font-size: 20px;
    width: 35%;
    margin-bottom: 10px;
}





/* beginning of slack */
.slack {
    background-color: rgb(37, 53, 146);
    display: block;
    justify-content: center;
    text-align: center;
    color: white;
    border: 0px solid;
    padding:60px;
    margin: auto;
    border-radius: 15px;
    width: 90%;
    line-height: 60px;
    margin-top: 30px; 
}

.align {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}

.bin {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.line {
    font-size: 25px;
    width: 90%;
    line-height: 40px;
    margin: auto;
}

.mail{
    width: 70%;
    margin: auto;
}


.mail input{
    background-color: rgb(37, 53, 146);
    border-radius: 5px;
    border: 1px solid white;
    width: 60%;
    height: 40px;
}

.mail button {
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(78, 78, 182);
    height: 40px;
    padding: 0px 20px 0px 20px;
    margin-left: 10px;
}

::placeholder {
    color: rgb(188, 188, 188);

}



/* end of slack */





/* start of brands */

.flex{
    display: flex;
}
.flex a{
    text-decoration: none;
}

.brand{
    margin-top: 15px;
    word-spacing: 20px;

}

.ends{
    margin-top: 13px;
    font-size: 18px;
    letter-spacing: 1px;
}
.others{
    display: flex;
    flex-basis: 90%;
    margin-left: 30px;
}
/* end of brands */





/* start of first footer */





.foot{
    display: flex;
    list-style: none;
}
.foot a{
    text-decoration: none;
}
.foot a:hover{
    text-decoration: underline;
}







/* beginnning of stay up to date */

.stay{
    margin-left: 30px;
    display: block;
    flex-basis: 35%;
}

.with{
    line-height: 20px;
    font-size: 16px;
    width: 50%;
}


.cbn {
    font-size: 1.7rem;
    color: rgb(121, 163, 190);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 80px;
}

#ben {
    width: 60% ;
    height: 40px;
}

#sun {
    padding: 5px 10px 5px 10px;
    height: 30px;
    border-radius: 40px;
    background-color: red;
    margin-left: 10px;
}
.bun{
    margin-top: 10px;
}

/* end of stay up to date */


/* start of mini footer */

.all{
    display: flex;
    margin-top: 30px;
    line-height: 30px;
}
.one{
    display: flex;

}
.two{
    display: flex;

}


.ment{
    margin-right: 100px;
    margin-left: 10px;
    flex-basis: 50%;

}

.ex{
    margin-right: 10px;
    margin-left: 30px;
}

.comm{

    margin-left: 150px;
}

.comp{
    margin-right: 10px;
    margin-left: 100px;
}

.same{
    letter-spacing: 1px;
    font-size: 17px;
    font-style: oblique;
    margin-bottom: 10px;
}

/* end of mini footer */


/* end of first footer */






/* start of footer */

footer{
    display: flex;
    font-size: 15px;
    border-top: 1px solid black;
    margin-top: 40px;
    padding: 15px;
}

.copy{
    flex-basis: 75%;
    font-size: 16px;
}


footer a:hover{
    text-decoration: underline;
}

footer a:active{
    border: 2px solid aquamarine;
    border-style: dotted;
    padding: 5px 0px 5px 0px;
}

footer a{
    text-decoration: none;
}

.terms{
    margin-right: 15px;
}

.cook{
    margin-right: 15px;
}

.priv{
    margin-right: 15px;
}


/* end of footer */




/* start of media query */


@media (max-width:1350px){ 



    .hire{
        width: 100%;
    }

    .links{
        display: none;
        
    }
    .nav{
        margin-bottom: 0px;
    }
    .nav img{
        width: 60px;
    }
        

    .end{
        display: none;
    }



    .other{
        margin: 0px;
    }

    header{
        margin-top: 0px;
    }

    .head{
        border-right: 1px solid rgb(193, 193, 193);
    }


    .firstbox{
        display: block;
        margin-bottom: 40px;
        margin-top: 30px;
        width: 95%;
        background-color: rgb(255, 255, 255);
        height: 100%;
        justify-content: center;
        text-align: center;
        padding: 20px 20px 20px 20px;
    }

    

    .fone{
        width: 100%;
        margin: auto;  
        padding-top: 10px;
        display: block;
    }

    .fone img{
        width: 100%;
    }


    .pamper{
        margin: auto;
        padding-bottom: 30px; 
        text-align: left;
    }


    .match{
        display: block;
        margin: auto;
        width: 95%;
        
    }

    .boo{
        margin-bottom: 20px;
        width: 100%;
        padding-bottom: 30px;
    
    }

    .first{
        width: 90%;
    }

    .second{
        width: 90%;
    }

    .third {
        width: 90%;
    }

    .fourth {
        width: 90%;
    }

    .fifth {
        width: 90%;
    }

    .sixth {
        width: 90%;
    }

    .seventh {
        width: 90%;
    }

    .eight{
        width: 90%;
    }


    .slack{
        width: 95%;
        line-height: 30px;
        padding: 50px 25px 50px 25px; 
    }

    

    #been{
        width: 100%;
    }

    #sub{
        margin-top: 10px;
    }

    .flex{
        display: block;
    }

    .others{
        justify-content: center;
        line-height: 30px;
    }

    .brand{
        text-align: center;
        line-height: 50px;
    }


    .foot{
        display: block;
    }

    .stay{
        margin-left: 0px;
        text-align: center;
    }

    .with{
        margin: auto;
        width: 60%;
    }

    
    .bun{
        margin-left: 0px;
        margin: auto;
        width: 100%;
    }

    .sun{
        margin-top: 10px;
    }


    .all{
        display: block;
    }

    .one{
        margin: auto;
    }

    .ment{
        flex-basis: 35%;
        margin-right: 15px;
    }

    .comm{
        margin-left: 10px;
        flex-basis: 35%;
    }

    .comp{
        margin-left: 15px;
    }

    .two{
        margin-top: 20px;
    }

    footer{
        display: block;
        margin: auto;
        text-align: center;
    }

    .copy{
        margin-bottom: 10px;
    }
}




/* FOR TABLET */

/* @media (min-width:768px) and (max-width:1090px){


    .hire{
        width: 100%;

    }

    .nav{
        margin-bottom: 0px;
    }


    .other{
        flex-basis: 20% ;
        margin-left: 0px;
        
    }


    .other img{
        width: 35%;
        
    }

    .links{
        margin-top: 20px;
    }


    .end{
        display: none;
    }
} */



/* end of media query */




